/* font-family: 'Londrina Outline', cursive;
font-family: 'Orbitron', sans-serif; */
body{
    background-color: black;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: #ffffff;

}

.hora{
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 0.15em; /* espaciar los caracteres */
}

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}
.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}
.green {
    text-shadow: 
        0 0 5px #7BFFCE,
        0 0 10px #7BFFCE,
        0 0 20px #7BFFCE,
        0 0 40px #7BFFCE,
        0 0 80px #7BFFCE,
        0 0 90px #7BFFCE,
        0 0 100px #7BFFCE,
        0 0 150px #7BFFCE;
}



/* dispositivo mediano */
@media screen and (min-width: 768px) and (max-width: 991px){
    .fecha{
        font-size: x-large;
    }
    .hora{
        font-size: 2.5em;
    }
}

/* dispositivo pequeño */
@media screen and (max-width: 767px){
    .fecha{
        font-size: x-large;
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .fecha p{
        margin-left: 4px;
        margin-right: 4px;
    }
    .hora{
        font-size: 2em;
    }
}
